In [12]:
import pandas as pd

# ==============================
# 1. Load CSV
# ==============================
df = pd.read_csv("student_performance.csv")

# ==============================
# 2. Convert Timestamp
# ==============================
df["Timestamp"] = pd.to_datetime(df["Timestamp"], errors="coerce")

print("Before cleaning:", df.shape)

# ==============================
# 3. Remove rows without Timestamp
# ==============================
df_clean = df.dropna(subset=["Timestamp"])

print("After removing NaT timestamps:", df_clean.shape)

# ==============================
# 4. Sort by latest Timestamp
# ==============================
df_sorted = df_clean.sort_values(by="Timestamp", ascending=False)

# ==============================
# 5. Get latest N records
# ==============================
N = 5   # üîÅ change this to 1, 3, 10, etc.
latest_records = df_sorted.head(N)

latest_records

Before cleaning: (70, 17)
After removing NaT timestamps: (46, 17)

,Name,Email,CGPA,Attendance,Projects,SQL,Excel,Statistics,Power BI / Tableau,Machine Learning,Data Preprocessing,Git / GitHub,Firebase,Python,Java,Dart,Timestamp
69,Pranav,mpranav.ai1234@gmail.com,3.2,10.0,9,1,1,1,1,0,0,0,0,1,1,1,2026-01-29 20:25:20.478942
68,Pranav,mpranav.ai1234@gmail.com,5.5,23.0,2,1,1,1,1,0,0,0,0,0,0,0,2026-01-29 20:22:04.172147
67,Pranav,mpranav.ai1234@gmail.com,5.5,23.0,2,1,1,1,1,0,0,0,0,0,0,0,2026-01-29 20:22:03.052005
66,Pranav,mpranav.ai1234@gmail.com,5.5,23.0,2,1,1,1,1,0,0,0,0,0,0,0,2026-01-29 20:21:55.320020
65,Pranav,mpranav.ai1234@gmail.com,6.0,95.0,8,0,0,0,0,0,0,0,0,0,0,0,2026-01-29 20:17:56.679236